header {
    position: relative;
    height: 89px;
    background: #f58426;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .middle-box {
  display: flex;
  flex-direction: row;
}


header .right-box {
  border-radius: 16px;
  background: #003e7e;
  border: none;
  text-align: center;
  width: 140px;
  height: 48px;
  cursor: pointer;
  margin: 5px;
}
header .right-box span {
  cursor: pointer;
  color: #acb9e1;
  font-size: 15px;
  font-weight: 700;
  text-transform: none;
  display: inline-block;
  position: relative;
  padding-top: 15px;
  transition: 0.4s;
}

